  @font-face {
    font-family: "IRANSansWeb";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb.eot') format("embedded-opentype"), url('../fonts/IRANSansWeb(FaNum).woff') format("woff"), url('../fonts/IRANSansWeb.ttf') format("truetype");
}